In [4]:
#load datasets with pandas
import pandas as pd
#k10_file=pd.read_csv(r'C:\Users\sarda\Desktop\UBC\BAIT 508\GroupProject\data\2020_10K_item1_full.csv')
pf= pd.read_csv(r'C:\Users\sarda\Desktop\UBC\BAIT 508\GroupProject\data\public_firms.csv')

In [5]:
pf

,gvkey,fyear,location,conm,ipodate,sic,prcc_c,ch,ni,asset,sale,roa
0,1004,1994,USA,AAR CORP,1988/01/01,5080,13.375,22.487,10.463,425.814,451.395,0.024572
1,1004,1995,USA,AAR CORP,1988/01/01,5080,22.000,33.606,16.012,437.846,504.990,0.036570
2,1004,1996,USA,AAR CORP,1988/01/01,5080,30.250,51.705,23.025,529.584,589.328,0.043478
3,1004,1997,USA,AAR CORP,1988/01/01,5080,38.750,17.222,35.657,670.559,782.123,0.053175
4,1004,1998,USA,AAR CORP,1988/01/01,5080,23.875,8.250,41.671,726.630,918.036,0.057348
...,...,...,...,...,...,...,...,...,...,...,...,...
209207,345980,2019,USA,CONTEXTLOGIC INC,2020/12/16,5961,NaN,744.000,-129.000,1366.000,1901.000,-0.094436
209208,345980,2020,USA,CONTEXTLOGIC INC,2020/12/16,5961,18.240,1965.000,-745.000,2397.000,2541.000,-0.310805
209209,347085,2018,SGP,KAROOOOO LTD,2021/04/01,7370,NaN,3.692,16.851,108.754,120.390,0.154946
209210,347085,2019,SGP,KAROOOOO LTD,2021/04/01,7370,NaN,9.339,18.467,117.551,123.708,0.157098
209211,347085,2020,SGP,KAROOOOO LTD,2021/04/01,7370,NaN,6.914,20.965,192.079,150.924,0.109148

In [1]:
#industry = [5080,5090]
industry_sector = pf[pf['sic'] has (50)]
#shows nans in data

SyntaxError: invalid syntax. Perhaps you forgot a comma? (109648455.py, line 2)

In [22]:
industry_sector

,gvkey,fyear,location,conm,ipodate,sic,prcc_c,ch,ni,asset,sale,roa
0,1004,1994,USA,AAR CORP,1988/01/01,5080,13.375,22.487,10.463,425.814,451.395,0.024572
1,1004,1995,USA,AAR CORP,1988/01/01,5080,22.000,33.606,16.012,437.846,504.990,0.036570
2,1004,1996,USA,AAR CORP,1988/01/01,5080,30.250,51.705,23.025,529.584,589.328,0.043478
3,1004,1997,USA,AAR CORP,1988/01/01,5080,38.750,17.222,35.657,670.559,782.123,0.053175
4,1004,1998,USA,AAR CORP,1988/01/01,5080,23.875,8.250,41.671,726.630,918.036,0.057348
...,...,...,...,...,...,...,...,...,...,...,...,...
203708,187714,2017,USA,WESCO AIRCRAFT HOLDINGS INC,2011/07/28,5080,7.400,61.625,-237.346,1754.107,1429.429,-0.135309
203709,187714,2018,USA,WESCO AIRCRAFT HOLDINGS INC,2011/07/28,5080,7.900,46.222,32.654,1789.476,1570.450,0.018248
203710,187714,2019,USA,WESCO AIRCRAFT HOLDINGS INC,2011/07/28,5080,11.020,38.034,21.369,1794.798,1696.450,0.011906
204538,198255,2014,USA,WOD RETAIL SOLUTIONS,NaN,5090,1.510,0.001,-2.357,0.822,0.015,-2.867397
204539,198255,2015,USA,WOD RETAIL SOLUTIONS,NaN,5090,0.017,0.002,-5.041,0.102,0.002,-49.421569